<h2>Discover Books</h2>

<div>
  <button (click)="setFilter('all')">All</button>
  <button (click)="setFilter('want-to-read')">Want to Read</button>
  <button (click)="setFilter('reading')">Reading</button>
  <button (click)="setFilter('read')">Read</button>
</div>

<hr/>

<ul>
  @for (book of filteredBooks; track book.id) {
    <li>
      <a [routerLink]="['books', book.id]">
      <strong>{{ book.title }}</strong>
      </a><br />
      <span>by {{ book.author }}</span><br />
      <small>⭐ {{ book.rating }}</small>

      @if (book.status) {
        <em>Status: {{ book.status }}</em>
      }
    </li>
  }
</ul>